<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sidebar">
    <div class="sidebar" id="appSidebar">
        <h4 class="text-white text-center">FIDES Menu</h4>
        <hr>
        <a href="/dashboard">Dashboard</a>
        <a href="/fides/institutions">Institutions</a>
        <a href="/fides/system-types">System Types</a>
        <a href="/fides/notices/new">Result Notice</a>
        <a href="/fides/notices">Notice History</a>
        <a href="/fides/import">Import Excel</a>
        <a href="/logout">Logout</a>
    </div>
</div>

</html>
